.checkboxes 
{
	margin-bottom: 5px;
	width:100% !important;
}

.rounded {
	background-color: #aaaaaa;
	padding: 5px;
}

.grow { 
	transition: all .2s ease-in-out;
}

.grow:hover { 
	transform: scale(1.015);
}

h5 {
	font-size: 1em !important;
}

.container {
	max-width: 95% !important;
}

