.checkboxes 
{
	margin-bottom: 5px;
	width:100% !important;
}

.rounded {
	background-color: #3572b0;
	padding: 5px;
}

body {
	background-color: #c3e5ff !important;
}

.btn-secondary {
	background-color: #205081 !important;
	border-color: #205081 !important;
}

.btn-primary {
	background-color: #205081 !important;
	border-color: #205081 !important;
}

.btn-secondary:hover {
	background-color: #4a6785 !important;
}

.btn-primary:hover {
	background-color: #4a6785 !important;
}

.form-control {
	background-color: #c3e5ff !important;
}

h1 {
	color: #205081 !important;
}

h3 {
	color: white !important;
}

h5 {
	font-size: 1em !important;
	color: white !important;
}

.container {
	max-width: 95% !important;
}

.columns {
	padding: 5px !important;
}