.checkboxes 
{
	margin-bottom: 5px;
	width:100% !important;
}

.rounded {
	background-color: #aaaaaa;
	padding: 5px;
}

h5 {
	font-size: 1em !important;
}

.container {
	max-width: 95% !important;
}

.columns {
	padding: 5px !important;
}