<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#db5945">
  <meta lang="en">
  <title>ADDS Feedback Helper</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/stylesheets/main.css">
</head>
<body>
    <div class="container">
      <h1>ADDS Feedback Marker</h1>
      <form action="/feedback" method="post">
          <div class="container" style="padding: 0px; margin: 0px;">
              <div class="row">
              {{ range $index, $name := .Order }}
                  <div class="col-sm-3">
                    </br>
                    <h3>{{ $name }}</h3>
                    <div class="well">
                        <div class="checkboxes btn-group-vertical">
                            {{ range $i, $v := (index $.Feedback $name) }}
                            <label class="btn btn-secondary text-left">
                                <input alt="{{ $v.Desc }}" type="checkbox" name="{{ $v.ID }}"> {{ $v.Name }} ({{ $v.Penalty }})<br/>
                            </label>
                            {{ end }}

                        </div>

                    </div>
                    Extra:
                    <textarea class="form-control" rows="3" name="extra-comments-{{ $name }}"></textarea>
                    Penalty:
                    <input class="form-control" type="number" value="0" name="extra-penalty-{{ $name }}" step="0.25" max="0.0" min="-2.0">
                  </div>
              {{ end }}
              </div> 
          </div>
        <br/>
        <input class="btn btn-primary btn-lg" type="submit" value="Build">
      </form>
    </div>
</body>
</html>