<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ADDS Feedback Helper</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/stylesheets/main.css">
</head>
<body>
    <div class="container">
      <h1>ADDS Feedback Marker</h1>
      <h2>Final Mark: {{ .Mark }}</h2>
      <a class="btn btn-lg btn-danger" href="/">Back</a>
      <button class="btn btn-lg btn-success copy-button">Copy</button>
      <div class="card textwrapper"><textarea onclick="this.select()" class="form-control text" rows="25">{{.Message}}</textarea></div>
    </div>
</body>
<script src="/static/js/copypaste.js"></script>
</html>