<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ADDS Feedback Helper</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/stylesheets/main.css">
</head>
<body>
    <div class="container">
        <h1>ADDS Feedback Marker</h1>
        <form action="/feedback" method="post">
            <div class="container" style="padding: 0px; margin: 0px;">
                <div class="row">
                {{ range $index, $name := .Order }}
                    <div class="col-sm-3">
                        </br>
                        <h3>{{ $name }}</h3>
                        <div class="well" style="overflow: auto;">
                            <div class="checkbox">
                                {{ range $i, $v := (index $.Feedback $name) }}
                                <input alt="{{ $v.Desc }}" type="checkbox" name="{{ $v.ID }}"> {{ $v.Name }} ({{ $v.Penalty }})<br/>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                {{ end }}
                </div> 
            </div>
            </br>
            <input class="btn btn-primary btn-large" type="submit" value="Build">
        </form>
    </div>
</body>
</html>